.layout {
  $header-height: 50px;
  color: white;

  .header {
    height: $header-height;
    background-color: rgb(53, 53, 53);
    display: flex;
    justify-content: space-between;
    .leftSide {
    }

    .rightSide {
      display: flex;
      align-items: center;
      
      .span {
        padding: 15px;
        font-size: 1.5rem;
        &:nth-child(1) {
          border-right: 1px solid rgb(134, 134, 134);
        }
      }
    }
  }

  .main {
    display: flex;
    min-height: calc(100vh - $header-height);
    .sider {
      background-color: #3a3a3a;
      //flex: 0 0 200px;
      max-width: 200px;
      //min-width: 200px;
      width: fit-content;

      .menuItemsWrapper{
        display: flex;
        flex-direction: column;
        margin: 30px;
        margin-left: 10px;        

        a{
          font-size: 1.25rem;
        }
      }
    }

    .content {
      background-color: #1b1b1b;
      flex: 1;
    }
  }
}
