
.contextMenu {
    position: absolute;
    background-color: #009c8e;
    color: white;
    padding: 10px 30px;
    border-radius: 0 15px 15px 15px;
    border: 1px solid #defffc;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
}