.breadcrumb{
    background-color: rgb(97, 97, 97);    
    padding: 5px 20px;
    width: fit-content;
    margin: 10px;
    font-size: 1.3rem;

    .breadcrumbItem{
        cursor: pointer;

        &:last-of-type{
            font-weight: bold;
        }
        
    } 
    
}

.imgPreview{
    $size: 250px;
    width: $size;
    height: $size;
    object-fit: contain;
}