@import "./custom.scss";


.text-blue {
  color: $primary!important;
}

.w-fit-content{
  width: fit-content !important;
}

@font-face {
  font-family: dosis;
  font-display: optional;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Dosis-Regular.ttf");
}

@font-face {
  font-family: dosis;
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: url("/fonts/Dosis-Bold.ttf");
  font-weight: bold;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: dosis, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
  Helvetica Neue, sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
}

h3{
  font-size: 1.4rem !important;
}

.layout{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.cursor-pointer{
  cursor: pointer;
}

.word-break-all{
  word-break: break-all;
}
