.breadcrumb{
    background-color: rgb(97, 97, 97);    
    padding: 5px 20px;
    width: fit-content;
    margin: 10px;
    font-size: 1.3rem;

    .breadcrumbItemWrapper{

        .breadcrumbItem{
            cursor: pointer;
    
            
        } 
        &:last-of-type .breadcrumbItem{
            font-weight: bold;
            cursor: initial;
            color: #a7caff !important;
    
            
        } 
    }
    
}