.allergens {
    width: 100%;
    max-width: 400px;
    /*aspect-ratio: 1;*/
    margin: auto;

    h2 {
        font-size: 1.2rem;
    }
}

.food {
    width: 100%;
    aspect-ratio: 1;
    margin: auto;
}
