@mixin input-disabled {
  &:disabled {
    background: #c3c3c3;
    color: #606060;
    cursor: not-allowed;
  }
}

.admin {
  table {
    border-collapse: collapse;
  }
  table,
  th,
  td {
    border: 1px solid rgb(119, 119, 119);
    padding: 5px 15px;
  }

  .selected-row {
    background-color: #4c4c4c;
  }

  .form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;

    & > div,
    & > table {
      width: fit-content;
    }
    .actions {
      span {
        cursor: pointer;
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }
  .add-document-btn {
    cursor: pointer;
    font-size: 1.2rem;
    user-select: none;
  }

  .link,
  .link > * {
    color: #a7caff;
    cursor: pointer;

    &:hover,
    &:focus {
      color: #7bbff1;
      //-2886414
    }

    &.link-danger {
      color: #dc3545;

      &:hover,
      &:focus {
        color: #b02a37;
        //-2886414
      }
    }
  }

  main {
    margin: 20px 0px;
  }

  input {
    margin: 10px 20px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    padding: 5px;

    @include input-disabled();

    &.button {
      background-color: rgb(0, 125, 163);
      padding: 5px 20px;
      color: rgb(255, 255, 255);

      &.button-danger {
        background-color: #aa1414;
      }
    }

    &.hidden-file-input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;

      &:focus + label {
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px;
      }
    }
  }

  .hidden-file-input-label {
    background-color: rgb(0, 125, 163);
    cursor: pointer;
    padding: 5px 25px;
    margin: 10px 0;
    width: fit-content;
  }

  .modal-window {
    .overlay {
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .content {
      position: fixed;
      background-color: #fff7f7;
      color: #007da3;
      padding: 20px;
      width: 50%;
      top: 25%;
      left: calc(25% + 100px);
      border-radius: 20px;

      .text {
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        word-break: break-word;
      }
      .btns-container {
        display: flex;
        justify-content: center;
        margin-top: 15px;

        .btn:not(:last-child) {
          margin-right: 15px;
        }
      }
    }
  }

  .bordered {
    border: 1px solid #777777;
  }

  .dialog {
    .overlay {
      position: fixed;
      background-color: rgba(0, 0, 0, 0.534);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    .dialog-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 500px;
      max-height: 300px;
      width: 80%;
      height: 80%;
      background-color: #e6e6e6;
      color: black;
      font-size: 1.5rem;
      position: fixed;
      transform: translate(-50%, -50%);
      border-radius: 25px;

      .btns-group {
        width: 80%;
        justify-content: space-evenly;
        display: flex;

        .btn {
          font-size: 1.3rem;

          /*&:nth-child(1) {
            //margin-right: 15px;
          }*/
        }
      }
    }
  }

  .label {
    position: absolute;
    left: 0px;
    transform: translate(55%, 0);
    background-color: #f9f9f9;
    color: #679fc9;
    border-radius: 10px;
    border: 1px solid #588cb3;
    font-size: 0.75rem;
    padding: 0px 4px;
  }

  select {
    width: 80%;
    text-align: center;
    height: 34px;
    border-radius: 10px;
    margin-top: 7px;

    
    @include input-disabled();
  }
}
