.footer {
    background-color: #2f375c;

    a {
        color: #83c3ff;
    }

    .contact-container {
        width: fit-content;
        .icon-container {
            $size: 32px;
            width: $size;
            height: $size;
            display: inline-block;
        }
    }

    ul {
        list-style-type: none;

        &.left-items {
            text-align: left;
        }

        &.right-items {
            text-align: right;
        }
    }

    .copyright {
        color: rgb(211, 211, 211);
        font-size: 0.8rem;
    }
}
