@import "./custom.scss";

.header{
    display: flex;
}

.logo{
    position: relative;
    object-fit: contain;
    min-width: 100px;
    min-height: 10px;
    
}

nav .list{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.list li{
    padding: 10px 10px;
    color: $primary;
    letter-spacing: 0.7px;
    cursor: pointer;
}



.list li.active{
    border-bottom: 2px solid $primary;
    font-weight: bold;
}

.list li:hover{
    background: whitesmoke;
    font-weight: bold;
    letter-spacing: 0;
}
