@import "./custom.scss";

$navbar-items-count: 3;
$header-expanding-transition-delay: 0.3s;
$header-expanded-height: 80px;
$header-shrinked-height: 60px;
$nav-li-padding-y: 8px;
$font-size: 1.2rem;
.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1000;
    box-shadow: 1px -2px 6px black;
    height: $header-shrinked-height;
    transition: height $header-expanding-transition-delay;

    .logo-container {
        /*position: relative;
    object-fit: contain;
    min-width: 100px;
    min-height: 10px;*/

        :global(#logo) {
            font-weight: 900 !important;
            color: $primary;
            font-size: 1.5rem;
            user-select: none;
            text-shadow: 4px 2px 4px #5d8acc;
            transition: font-size $header-expanding-transition-delay;
        }
    }

    .hamburger-menu-container {
        $menu-size: 32px;
        width: $menu-size;
        height: $menu-size;
        cursor: pointer;

        div {
            background-color: black;
            width: 100%;
            height: 15%;
        }
    }

    .nav {
        $transition-max-height: max-height 0.5s;
        $transition-font-size: font-size $header-expanding-transition-delay;
        $transition-top: top $header-expanding-transition-delay;
        display: flex;
        max-height: 0px;
        width: 100%;
        align-items: center;
        font-size: $font-size;
        overflow: hidden;
        flex-direction: column;
        background: white;
        position: fixed;
        top: $header-shrinked-height;
        left: 0;
        transition: $transition-max-height, $transition-font-size, $transition-top;
        
        ul {
            flex-direction: column;
        }

        @include media-breakpoint-up(lg) {
            display: flex;
            position: static;
            width: auto;
            max-height: calc(var(--navbar-items-count) * (#{$nav-li-padding-y} * 2 + #{$font-size} * 3));
            ul {
                flex-direction: row;
            }
        }


        &.menu-expanded {
            max-height: calc(var(--navbar-items-count) * (#{$nav-li-padding-y} * 2 + #{$font-size} * 3));
        }

        .list {
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            margin: 0;

            li {
                padding: $nav-li-padding-y 10px;
                color: $primary;
                cursor: pointer;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    background-color: $primary;
                    left: 51%;
                    right: 51%;
                    bottom: 5px;
                    height: 2px;
                    transition-property: left, right;
                    transition-duration: 0.3s;
                }

                $border-overflow: 0px;
                &:hover {
                    background: rgb(250, 250, 250);
                    &::before {
                        left: $border-overflow;
                        right: $border-overflow;
                    }
                }

                &.active {
                    font-weight: bold;
                    &::before {
                        left: $border-overflow;
                        right: $border-overflow;
                    }
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &.header-expanded {
            height: $header-expanded-height;
    
            .logo-container {
                :global(#logo) {
                    font-size: 2rem;
                }
            }
    
            .nav {
                font-size: 1.4rem;
                top: $header-expanded-height;
            }
        }
    }
}
