.hero{
    background: url("/img/main-bg.png");
    background-size: contain;
    /*background-size: 700px;*/
    background-repeat: repeat-x;
    width: 100%;
    min-height: 400px;
}

#toys-img{
    object-fit: contain !important;
}